<mat-drawer-container class="example-container" autosize>
    <mat-drawer #drawer class="example-sidenav" mode="side">
        <div class="btn-box">
            <button mat-button (click)="openThreads()">
                <mat-icon>message</mat-icon>
                Threads
            </button>
    
            <button mat-button (click)="openContacts()">
                <mat-icon>contact_mail</mat-icon>
                Contacts
            </button>
        </div>
        

        <div class="line"></div>

        <div class="btn-box">
        <button mat-button (click)="openDialogChannel()"> <mat-icon>add</mat-icon> Create Channel</button>
        <app-channel></app-channel>
        </div>

        
        
    </mat-drawer>

    <div class="example-sidenav-content" *ngIf="rs.screenWidth > 600">
        <button type="button" mat-icon-button (click)="drawer.toggle(); ts.toggled = !ts.toggled">
            <mat-icon *ngIf="ts.toggled">chevron_left</mat-icon>
            <mat-icon *ngIf="!ts.toggled">chevron_right</mat-icon>
        </button>
    </div>

</mat-drawer-container>