section {
    margin-top: 1rem;
    margin-left: 1rem;
}

.flex-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
}

.profile {
    height: 64px;
    width: 64px;
    object-fit: cover;
    background-color: #303030;
    border-radius: 0.5rem;
    margin-bottom: 1rem;
}

a {
    text-decoration: none;
    color: rgb(77, 197, 8);
}

a:hover {
    text-decoration: underline;
}