<section class="mat-typography app-frame mat-app-background">
    <div class="logo"><mat-icon>question_answer</mat-icon><span>DA Bubble</span></div>

    <div class="register-box">
        <h1>Register Area</h1>

        <mat-form-field>
            <mat-label>Email</mat-label>
            <input matInput type="email" [(ngModel)]="credentials.email" required="">
        </mat-form-field>

        <mat-form-field>
            <mat-label>Password</mat-label>
            <input matInput type="password" [(ngModel)]="credentials.password" required="">
        </mat-form-field>

        <mat-form-field>
            <mat-label>Password repeat</mat-label>
            <input matInput type="password" [(ngModel)]="credentials.password2" required="">
        </mat-form-field>

        <button mat-raised-button color="primary" aria-label="Send" [disabled]="!validate()" (click)="registerAccount()">
            <mat-icon>send</mat-icon> Register
        </button>
    </div>

    <button mat-button class="margin-top" aria-label="Send" [routerLink]="['/login']">
        <mat-icon>keyboard_return</mat-icon> Back to Login
    </button>

</section>