<section *ngIf="channel.name">
    <div class="header">
        <span># {{ channel.name }}</span>

    </div>

    <div class="content">

        <!-- Messages sorted by date -->
        <app-message *ngFor="let message of ms.messages | async | day: 'before'" [message]="message" class="block"
            [class.margin-message]="ts.toggled"></app-message>

        <div class="line" *ngIf="(ms.messages | async | day: 'before').length > 0">
            <span class="date">Before {{ before | date: "dd.MM.yyyy hh a" }} </span>
        </div>

        <app-message *ngFor="let message of ms.messages | async | day: 'yesterday'" [message]="message" class="block"
            [class.margin-message]="ts.toggled"></app-message>

        <div class="line" *ngIf="(ms.messages | async | day: 'yesterday').length > 0">
            <span class="date">Yesterday</span>
        </div>

        <app-message *ngFor="let message of ms.messages | async | day: 'today'" [message]="message" class="block"
            [class.margin-message]="ts.toggled"></app-message>

        <div class="line" *ngIf="(ms.messages | async | day: 'today').length > 0">
            <span class="date">Today</span>
        </div>

        <!-- Inputfield for Messages -->
        <div class="input">
            <app-message-input class="width-100" [class.margin]="ts.toggled" [origin]="origin"
                [id]="channelId"></app-message-input>
        </div>

    </div>



</section>