.example-spacer {
    flex: 1 1 auto;
}

.greeting {
    display: none;
}

.title {
    margin-left: 0.5rem;
}


@media screen and (width > 800px) {

    .greeting {
        display: flex;
        margin-right: 1rem;
    }
}