<div>
    <!-- Channels displayed here -->
    <button mat-button (click)="chanExpanded = !chanExpanded">
        <mat-icon class="mat-icon-rtl-mirror">
            {{chanExpanded ? 'expand_more' : 'chevron_right'}}
        </mat-icon>
        Channels
    </button>

    <div *ngIf="chanExpanded">
        <div *ngFor="let chan of channel" class="flex-row">
            <div class="buffer"></div>
            <button mat-button class="text-align-left" (click)="openChannel(chan.id)">
                {{chan.name}}
            </button>
        </div>
    </div>

    <!-- Direct Messages displayed here -->
    <button mat-button (click)="dmExpanded = !dmExpanded">
        <mat-icon class="mat-icon-rtl-mirror">
            {{dmExpanded ? 'expand_more' : 'chevron_right'}}
        </mat-icon>
        Direct Messages
    </button>

    <div *ngIf="dmExpanded">
        <div *ngFor="let dm of (ds.directmessageSubject| async | dmpipe | dmarray | dmname)" class="flex-row">
            <div class="buffer"></div>
            
            <button mat-button class="text-align-left" (click)="openDirectMessage(dm.key)">
                <div class="flex"><img class="profile" [src]="dm.profile" alt="contact profile picture"> {{ dm.name }}</div>
            </button>
        </div>
    </div>
    
</div>
        
       