.contact {
    transition: all 125ms ease-in-out;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 1rem;
    width: 250px;
    border: 1px solid #fff;
    border-radius: 0.5rem;
}

.contact:hover {
    cursor: pointer;
    transition: all 125ms ease-in-out;
    background-color: #424242;
    border: 1px solid rgb(77, 197, 8);
    box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 0.2);
}

.profile {
    height: 64px;
    width: 64px;
    object-fit: fill;
    background-color: #303030;
    border-radius: 0.5rem;
    margin-bottom: 1rem;
}

a {
    text-decoration: none;
    color: rgb(77, 197, 8);
}

a:hover {
    text-decoration: underline;
}